@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');


.landing {
    width: 100%;
}

.propaganda {
    width: 100%;
    height: 27rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/Wave.svg");
}

.Titulo-propaganda {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    color: white;
    margin-top: 130px;
    font-size: 80px;
}

.Texto-propaganda {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    color: rgb(94, 70, 70);
    margin-top: 10px;
    font-size: 20px;
    width: 78%;
}


.contenedor-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #423163;


}

.cards {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 600px;
    text-align: center;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    margin-top: 30px;



}

.cards-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    box-shadow: 2px 5px 26px #aca7a9, -5px -5px 56px #ffffff;
    width: 60%;
    height: 150px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 20px;
}





@media only screen and (min-width: 768px) {

    .contenedor-cards {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .cards {
        display: flex;
        flex-flow: column nowrap;
        width: 50%;
        height: 600px;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        margin-top: 30px;

    }

    .cards-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: white;
        box-shadow: 2px 5px 16px #9085a6, -5px -5px 10px #261151;
        width: 80%;
        height: 90px;
        padding: 13px;
        margin: 0 auto;
        margin-right: 30px;
        border-radius: 100px;
    }

    .imagen-cash {

        background-image: url("../assets/personas.png");
        display: flex;
        width: 60%;
        height: 800px;
        z-index: 100;
        background-position: center;
        background-size: 53% 100%;
        background-repeat: no-repeat;
    }
}

/*.for-all{
    width: auto;
    height: auto;
    color: rgb(255, 255, 255);
    max-width: 100vh;
    max-height: none;;
    background-color: #423163;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    position: relative;
    top:0;
    bottom:10px;
    overflow: hidden;


}

.for-all__text{
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: for-all__text 10s linear infinite;

   

}

.for-all__text--h2{
  
    -webkit-text-stroke: 1px rgba(209, 139, 170, 1);
    color: transparent;
}

@keyframes for-all__text {
    from { transform: translateX(-60%); }
    to { transform: translateX(40%); }
  }
  

*/
.for-all {
    width: 100%;
    height: auto;
    top: 0;
    color: rgb(255, 255, 255);
    max-width: 100%;
    max-height: none;
    background-color: #423163;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    position: relative;
    flex-flow: column;

    bottom: 10px;
    overflow: hidden;


}

.for-all__text {
    display: flex;
    position: -webkit-sticky;
    width: 100%;
    height: 40%;
    white-space: nowrap;
    will-change: transform;
    animation: for-all__text 10s linear infinite;


}
.for-all__text-2 {
    display: flex;
    position: -webkit-sticky;
    width: 100%;
    height: 40%;
    white-space: nowrap;
    will-change: transform;
    animation: for-all__text 10s linear infinite;
    margin-top: 10px;

}

.for-all__text--h2 {

    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 30px;

}

@keyframes for-all__text {
    from { transform: translateX(-50%); }
    to { transform: translateX(0%); }
  }


@media only screen and (max-width: 1000px) {


    .imagen-cash {
        background-size: 80% 80%;
    }

    .cards-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: white;
        box-shadow: 2px 5px 16px #9085a6, -5px -5px 10px #261151;
        width: 80%;
        height: 90px;
        padding: 13px;
        margin: 0 auto;
        margin-left: 50px;
        border-radius: 100px;
    }
}

@media only screen and (max-width: 1300px) {


    .imagen-cash {
        background-size: 80% 90%;
    }
}

@media only screen and (max-width: 600px) {


    .imagen-cash {
        background-size: 80% 80%;
    }

    .cards-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: white;
        box-shadow: 2px 5px 16px #9085a6, -5px -5px 10px #261151;
        width: 80%;
        height: 90px;
        padding: 13px;
        margin: 0 auto;
        border-radius: 100px;
    }
}





@media only screen and (min-width: 1000px) {

    .Titulo-propaganda {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Inria Sans', sans-serif;
        color: white;
        margin-top: 90px;
        font-size: 150px;
    }

    .Texto-propaganda {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: 'Inria Sans', sans-serif;
        color: rgb(94, 70, 70);
        margin-top: 10px;
        font-size: 25px;
        width: 78%;
    }

}