.containerPageMyVakita{
    display: flex;
  flex-direction: column;
    justify-content: center;
    /* align-items: center;  */
    background-color:#E7E1E1;
    
    background: linear-gradient(0deg, #EEE9FF 6%, #FCE8E9 91%);
    flex-wrap: wrap;
    align-items: center;
 
    
    
}

.pageMyVakita{
    width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(0deg, #EEE9FF 6%, #FCE8E9 91%);
 

}

.h2, .titleMyVaquita{
    text-align: center;

    
    
    
}

.titleMyVaquita{
   margin-bottom: .5rem; 
}

.h3{
    height: fit-content;
    font-size: 21px;
   padding-top: 2rem;
   margin-left: 1rem;
}



.cardMyVakita{
   
    width: 22rem;
/* height: 20rem; */
height: fit-content;

margin: 0rem 1.5rem;
    background-color: #FFFFFF;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(61,59,61,1);
-moz-box-shadow: 0px 3px 5px -2px rgba(61,59,61,1);
box-shadow: 0px 3px 5px -2px rgba(61,59,61,1);
    border-radius: .5rem;
    /* margin-bottom: 5rem; */

}

.BoxMembersAndChart{
display: flex;
justify-content: center;
margin-top: 2.2rem;

/* gap: 6rem; */


}
.memebersMyVakita {
   
    padding: 10px; 
      /*provisorio */
    padding-right: 2rem;
   
    display: flex;
    flex-direction: column;
 
    width: 9rem;
    margin-right: 0.5rem;
  
   
   
  }
  
.usersMyVakita{
    background-color: #c5bebe;
    width: 10.5rem;
    font-size: 12px;
    margin: 8px 0;
    border-radius: 5px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
   display: flex;
    padding: 5px 1px;
    padding-left: 4px;
    
    
    
}
  
.chartContainer{
 
    width: 50%;
}
  


.save-button{
    border: none;
    color: #7c4d86;
    font-size: 2rem;
    background-color: transparent;
    border: 2px solid ;
    width: 50px;
    border-radius: 8px;
    cursor: pointer;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: absolute;
   margin-left: 5px;
   border-radius: 10px;
    border-style: solid;
    border-top-color: #BB75CB;
    border-right-color: #D18EBA;
    border-bottom-color: #E68C8C;
    border-left-color: #D18EBA;
}

.save-button:hover{
background-color: #D18EBA;
color: #fdfde7;
}
   
.highlighted  {
    color: #e3d7de;
    font-weight: 800;
    background-color: #7c4d86;
   
   
  }


  .usersMyVakita .youIcon {
    
    color: #D18EBA;
  }
@media only screen and (min-width: 601px) {
    .chartContainer{
 
        height: 13.2rem;
        width: 100%;
    }
   
    
    .containerPageMyVakita{
       
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100vh;
        align-items: normal;
    } 
    .cardMyVakita{
      
        width: 35rem;
        margin: 1rem 1.5rem;
       
        
        }
        .saveIconBox{
            width: 13.5rem;
        }
        .usersMyVakita{
           
            font-size: 15px;
            width: 13.2rem;
        }
        
            .h3{
               
                font-size: 21px;
            }

            .memebersMyVakita {
   
                /*provisorio */
                padding-right: 4rem;
                width:10rem;
                margin-right: 1.8rem;
               
              }
}

