.tranxPage{
   height: auto !important;
   width: 100%;
   display: flex;
   justify-content: center;
   width: 100%;
   flex-direction: column;


}
.h2 {
    width: 100%;
    margin-top: 50px;
    text-align: left;
    margin-left: 5%;
}
.containerTranx{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    
    
}

.tranxTable{
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;

}


@media only screen and (max-width: 900px) {

    .tranxTable{
        width: 90%;
        font-size: 12px;
    
    }
}
.inputTx{
    height: 35px !important;

border-radius: 10px !important;
background-color: #609aa60b; 
outline: none !important;
/* border: 1px solid #568a94; */
border: none;
margin:0 auto  !important;
padding: 5px !important;
font-size: 15px;


}

.containerInput{
    margin-top: 2rem;
    background-color: #609aa653;
    padding: 0.2rem;
    border-radius: 13px ;
    -webkit-border-radius: 13px ;
    -moz-border-radius: 13px ;
    -ms-border-radius: 13px ;
    -o-border-radius: 13px ;
}

.iconTx{
    padding-left: 0.2rem;
    
}

.pdfButton{
   /* From https://css.glass */
background: rgba(155, 78, 255, 0.121);
border-radius: 16px;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(18.2px);
-webkit-backdrop-filter: blur(18.2px);
border: 1px solid rgba(192, 122, 253, 0.234);
padding: 0.7rem;
margin-top: 2rem;
font-size: 14px;
color: rgb(0, 93, 93);
font-weight: 500;
letter-spacing: 0.05rem;
cursor: pointer;
}

.pdfButton:hover{
    background: rgba(164, 102, 245, 0.406);
    color: rgb(4, 6, 6);
}


.iconDownload{
    padding-right:  0.3rem;
   
}